.survey-holder {
    * {
        margin: 0;
        padding: 0;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-weight: lighter;
    }

    .survey-answer-list > div{
        background: #ffb900;
        padding: 0.5vw;
        color: #6e2700;
        margin-bottom: 0.5vw;
        filter: var(--drop-shadow);
        cursor: pointer;

        &:hover {
            padding: 0.8vw;
            transition: padding 0.2s ease-in-out;
        }

        &:not(:hover){
            transition: padding 0.2s ease-in-out;
        }
    }

    .survey-wrapper {
        margin-bottom: 4vw;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1vw;
        background: #D54B00;
        border: 2px solid;
        width: 90%;
        filter: var(--drop-shadow);

        .survey-create{
            padding: 1vw;
            width: 12vw;
            font-family: var(--font);
            background: #6e2700;
            border: none;
            color: #ffffff;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            text-align: center;

            &:hover{
                width: 14vw;
                transition: width 0.1s linear;
            }

            &:not(:hover){
                width: 12vw;
                transition: width 0.1s linear;
            }
        }

        ul {
            filter: var(--drop-shadow);

            li {
                margin-bottom: 1vw;
                list-style-type: none;

                .survey-info {
                    padding: 1vw;
                    background: #ffb900;
                    color: #433210;
                }

                .survey-btns {
                    button {
                        padding: 0.5vw;
                        font-family: var(--font);
                        width: 100%;
                        text-align: left;
                        border: none;

                        &:hover {
                            cursor: pointer;
                            background: #dfdfdf;
                            transition: background 0.2s linear;
                        }
                    }
                }
            }
        }
    }
}